@page
@model DLNAModel
@{
}

<h2>Ustawienia serwera DLNA</h2>


<form method="post" autocomplete="on" class="container" novalidate>

    <div>
        <input type="button" id="something" style="margin-top:15px" class="btn btn-primary col-sm-offset-3" value="  Zapisz  ">
    </div>

</form>