@page
@model ResetModel
@{
}


<script type="text/javascript">
    $(function () {
        $('#myFormSubmit').click(function (e) {
            e.preventDefault();
            alert($('#myField').val());
            $('#myModal').modal('hide')
        });
    });
</script>


<div class="container">
    <h2>Restart</h2>
    <div class="col-md-12" style="margin-top: 1%; margin-bottom: 10px;">
        <strong>Obie akcje spowodują zapisanie wszystkiego w urządzeniu Raspberry Pi.</strong>

    </div>

    <button type="button" class="btn btn-default col-md-offset-5" data-toggle="modal" data-target="#myModalReset">Zresetuj</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Wyłącz</button>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ostrzeżenie</h4>
                </div>
                <div class="modal-body">
                    <p>Czy jesteś pewny że chcesz wyłączyć Raspberry Pi? <br />Konieczne będzie ręczne włączenie urządzenia.</p>
                </div>

                <div class="modal-footer">
                    <form method="post">
                        <button type="submit" class="btn btn-warning col-md-offset-8" asp-page-handler="Shutdown"> Wyłącz </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModalReset" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ostrzeżenie</h4>
                </div>
                <div class="modal-body">
                    <p>Czy jesteś pewny że chcesz zresetować Raspberry Pi?<br /> Może to potrwać koło minuty.</p>
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <button type="submit" class="btn btn-warning col-md-offset-8" asp-page-handler="Reset"> Zresetuj </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


